/* 
    New code bonus: pure CSS data loading icon
    This comes from loading.io/css - it's nice to show that something is happening!
*/

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
  /* CSS instructions for Lab 5 */
/* Bring in your successful CSS from week 4 */
/* In your #map rule, set map to display:none; to temporarily hide your map box */

/*
Form Styles
*/

form input {
  /* This is a hack to make sure our boxes line up with one another nicely */
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;

  /* here we are setting white space correctly */
  margin-bottom: 1rem;
  height: 2rem;
  border-radius: 4px;
}

form label {
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  align-items: flex-start;

  display: block; /* this turns the label text into a box we can set margins on */
  margin-bottom: 0.5rem;
}

/* How To Write A Media Query For Small Screens */

@media only screen and (max-width: 736px){
  /* Rules in here will only apply when a screen is the correct size */
  /* check it out by using your developer tools to shrink your screen-size */
  .container {
    background-color: rgba(204, 8, 162, 0.65);
  }
}

html {
background-color: rgb(227, 235, 255);
font-size: 16px;
min-width: 300px;
overflow-x: hidden;
overflow-y: scroll;
height: 100%;

/* these are specific to different browsers */
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-webkit-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
text-size-adjust: 100%;
}


body {
display: flex;
min-height: 100vh;
flex-direction: column;

font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
font-weight: 400;
line-height: 1.5;
background-color: rgb(227, 235, 255);
}

.content {
flex: 1;
flex-direction: row;
padding: 20px;
flex-wrap: wrap;
}

.container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
}

.smaller-container {
flex-wrap: nowrap;
width: auto;
height: auto;
}

#map {
  display: none;
  flex-wrap: nowrap;
  width: auto;
  height: auto;
}

.header {
padding-top: 1rem;
padding-left: 0rem;
padding-right: 0rem;
padding-bottom: 1.5rem;
}

.header h1 {
display: block;
/* this will push other blocks out of the way */

/* colors */
background-color: rgb(157, 3, 3);
color: #ffffff;

/* shapes */
border-radius: 6px;
font-size: 1.5rem;
padding: 1.25rem;
margin:0; /* removing the margin on h1 tags means the header pins to the top if we move */

/* box-shadows are fancy */
box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}


.footer {
flex-shrink: 0;
padding: 1rem;
background-color: rgb(157, 3, 3);
font-size: 1.2rem;
font-weight: 600;
border-radius: 6px;
color: #ffffff;
}

.footer a {
color: rgba(255, 224, 138, 1);
text-decoration: underline;
}

/*
This is an example of a 'pseudoclass'
In this instance, it says what to do if a mouse hovers over a link
This is pretty desktop-specific, since there's no hover function on touchscreens
*/
.footer a:hover {
/* Hue, saturation, luminosity, alpha */
background-color: hsla(0, 0%, 90%, 0.15);
/* red, green, blue, alpha */
color: rgb(246, 169, 93);
text-decoration: none;
}


